@import '~office-ui-fabric-react/dist/sass/_References.scss';


/* react quill toolbar */
.quill > .ql-container > .ql-editor.ql-blank::before{
  font-style: normal;
  padding:0px;
  margin:0px ;
  color:black;
}
.quill > .ql-container > .ql-editor.ql-blank{

  margin-left:-7px;
  
}

.ql-editor {
    min-height: 150px;
  }
  .ql-editor.ql-blank:before {
    left:8px;
    color:black;
  }
  .ql-container.ql-snow {
    border-bottom: 1px solid #838383;
    border-left: 1px solid #838383;
    border-right:1px solid #838383;
  //  border-top : 1px !important;
  //margin: 15px 0px;
    
  }

  .ql-toolbar.ql-snow {
    border: 1px solid #838383 !important;
    margin-top:5px;
    .ql-clean{
      display: none;
    }
    //display: none;
}

/* react quill toolbar end */

/* Grid */
.gdcGrid {
  @include ms-Grid;
}
.gdcGridRow {
  @include ms-Grid-row;
}

.gdcGridCol {
  @include ms-Grid-col;
}

.gdcGridCol6 {
  @include ms-sm6;
  min-height: 105px;
}

.gdcGridCol12 {
  @include ms-sm12;
  min-height: 105px;
}

/* Grid end */

/* Text Field */
.ms-TextField-fieldGroup::placeholder{
  color:black;
}
.gdcTextField {
  margin-top: 8px;
  .ms-Label{
    white-space: nowrap;
  }
 .ms-TextField-fieldGroup{
   height:40px !important;
   line-height: 35px;
   font-size: 8px;
   margin-top: 2px;
   color:black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 ::placeholder{
   color:black;
 }
}

/* Text Field End */

/* DropDown */

.gdcDropDown{
  margin-top:8px;
  .ms-Label{
    white-space: nowrap;
  }
  .ms-Dropdown-caretDownWrapper{
    line-height: 37px;
  }
  .ms-Dropdown {
    margin-top:2px;
  }  
  .ms-Dropdown-container {
    line-height: 45px;
    font-weight: 500;
    color: black;
    margin: 0px;
    
  }
  .ms-Dropdown-title {
    height:40px;
    font-size: 14px;
    color:black;
    line-height: 36px;
    padding: 0px 28px 0px 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
  }    
}

/* DropDown End */

/* Radio Button */

.gdcRadioButton {
  margin-top: 2px;
  white-space: nowrap;
  .ms-ChoiceFieldGroup-flexContainer{
    display: "flex"
  }
  .ms-ChoiceField-wrapper{
    margin-right:25px;
    font-weight: 500;
   font-size: 14px;
  }
  .ms-ChoiceField-field::after{
    border-color: black;
    background: black;
  }
}

/* Radio Button End */

/*SwitchInput*/

.gdcSwitchInput{
  margin-top:8px;
  // .ms-Toggle-background:focus{
  //   background:white;
  // }
  .ms-Toggle-innerContainer{
    margin-top:2px;
  }
}
.black{ 
  .ms-Toggle-background{
    background: black;
  }
  .ms-Toggle-innerContainer{
    margin-top:2px;
  }
}

/* Switch Input end */

.gdcMessage {
.ms-MessageBar{
  position: fixed;
    top: 60px;
    width: 370px;
    right: 5px;

}
}



.peoplepicker{
  margin-top:8px;
  .ms-BasePicker-text{
height:40px;
  }
}
.ms-PeoplePicker{
  margin-top:2px;
}
/* Date Input */
.gdcDateInput::placeholder{
  color: black;
}
.gdcDateInput {
  .ms-Label{
    margin-top: 8px;
  }
  .ms-DatePicker {
    margin-top: 2px;
    color:black;
  }
  .ms-TextField-fieldGroup {
    color:black;
    height:40px;
    i {
      margin-top: 2px;
    }
   
  }
  .ms-TextField-field {
    color: black;
  }
  .ms-TextField-field::placeholder {
    color: black;
  }
}

/* Date Input End */

/* MultiLine */

.gdcMultiLine {
  margin-top: 2px;
  white-space: nowrap;
}

.gdcColumnBlock{//Multiline field
  white-space: nowrap;
  display:inline-block;
  margin-top: 8px;
  width:100%;
  min-height: 256px;
  .ms-Label{
    white-space: nowrap;
  }
}

/* MultiLine End */

/* File Picker */

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: none;
  cursor: pointer;
}

.filepicker {
  margin-top: 8px;

}
.filepicker > p {
  font-weight:500;
}
.attachmentNames{
font-size:12px;
}
.attachmentNames > label{
  font-size:12px;
  display: block;
  margin-top:4px;
  
  }
.fileInput {
  cursor: pointer;
  // color: #036c70;
  background: rgba(3,108,112,.06);
  width: 200px;
  padding: 5px;
  .gdcAttachIcon {
    padding-right: 3px;
    transform: rotateZ(45deg);
    color: #1D1D1D
  }
}

/* File Picker End */


.gdcFieldSeperateRow {
  margin-right: 20px;
}

.gdcBottomLine {
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}
.headerButton:hover{
  background-color: #1D1D1D;
  color:white;
  border-color: white;
}
// .ms-Button:hover{
//   background-color: #17787b;
//   color:white;
//   border-color: white;
// }
.questionHeader{
  font-weight: 500;
}
  .gdcAddButton,.gdcAddButton:hover {
    //float: right;
   margin-top:20px;
      // Our button
      text-decoration: none;
      height: 32px;
  
      // Primary Button
      min-width: 80px;
      background-color: #1D1D1D;
      border-color: $ms-color-themePrimary;
      color:white;
  
      // Basic Button
      outline: transparent;
      position: relative;
      font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: $ms-font-size-m;
      font-weight: $ms-font-weight-regular;
      border-width: 0;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      padding: 0 8px;
  
      .label {
        font-weight: $ms-font-weight-semibold;
        font-size: $ms-font-size-m;
        height: 32px;
        line-height: 32px;
        margin: 0 4px;
        vertical-align: top;
        display: inline-block;
      }
  }

  .gdcAddButton:disabled {
    background-color: rgba(8, 8, 8, 0.3);
  }
  .gdcAddButton:disabled:hover {
    background-color: rgba(8, 8, 8, 0.3);
  }

  .gdcAddButton:hover {
    background-color: #1D1D1D;
    border-color: white;
      color:white;
  }

  .gdcNewButton {
    font-size: 18px;
  }
.headerButton{
  margin-right:14px;
  border-radius: 15px;
}
.selectedButton{
  margin-right:14px;
  background-color: #1D1D1D;
  color:white;
  border-radius: 15px;
}
.headerButton::selection{
  background-color: #1D1D1D;
}
.questionTop{
  margin-top: 25px;
  margin-bottom:25px;
  font-weight: 500px;
}

/* logo */

#gdclogoId {
  background-image: url(GDC.svg);
}




/* logo end */






.gdcOuterWidth12{
@include ms-sm12
} 
.gdcFieldWidth12{
  @include ms-sm12;
}
.gdcFieldWidth6{
  @include ms-sm6;
  margin-top:25px;
}
.gdcOuterWidth6{
  @include ms-sm6;
  // display: inline-block;
  // margin-right: 5%;  
  } 
   .gdcColumn6 {
    min-height: 80px !important;
   margin-top: 25px;
    @include ms-Grid-col;
    @include ms-sm6;
    padding-left: 0px;
    // width:41%;
    float: none !important;
    display: inline-block;
  }
  .gdcerror {
    color: rgb(168,0,0);
  }

  .gdcStar {
    color: rgb(168,0,0);
  }

  .gdcPaddingBottom15 {
    padding-bottom: 15px;
  }

  .gdcDisplayNone {
    display: none;
  }

  .gdcBorder {
    font-family: Segoe UI;
  }

  .gdcMessage {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    padding: 5px;
  }
  .requireMessage{
    position: fixed;
    top:110px;
    width: 90%
  }


/* GDC Panel */

.gdcPanelHeaderEllipses1
  {
    float: right;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    right: -125px;
    top: 0px;
    background: rgba(255, 255, 255, 0.08);
  }
  .gdcScrollPanelHeaderEllipses1
  {
    float: right;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    right: -125px;
    top: 0px;
    background: rgba(255, 255, 255, 0.08);
  }

  .gdcPanelHeaderEllipses2
  {
    float: right;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    right: 1px;
    top: 100px;
    background: rgba(255, 255, 255, 0.08);
  }
  .gdcScrollPanelHeaderEllipses2
  {
    float: right;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    right: 1px;
    top: 25px;
    background: rgba(255, 255, 255, 0.08);
  }

.gdcPanelHeader {
  background: #1D1D1D;
  color: white;
  font-family: Segoe UI;
 // max-height: 300px;

}
.gdcScrollPanelHeader {
  background: #1D1D1D;
  color: white;
  font-family: Segoe UI;
 // max-height:100px;
 animation:  reduce 0.5s cubic-bezier(0, 1, 0.5, 1) backwards;
  //transition-duration: 5s;
	//transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
@keyframes reduce {
  from {
      height: 300px;
  }
  to {
      height: 100px;
  }
}
.gdcPanelHeaderText {
  padding: 180px 0px 10px 20px;
  float: left;
  font-size: 40px;
  
}
.gdcScrollPanelHeaderText {
  padding: 56px 0px 10px 40px;
  float: left;
  font-size: 24px;
  
}
.gdcPanelCloseButton {
  padding: 25px;
  float: right;
  color: #fff;
  position: fixed;
  right: 20px;
  font-size: 12px;
  .ms-Link {
    color: white;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid lightgrey;
    padding: 5px;
    .gdcCloseIcon {
      padding-right: 5px;
      vertical-align: middle;
    }
  }
  .ms-Link:hover {
    text-decoration: none !important;
  }
}
.gdcScrollPanelCloseButton{
  padding: 20px 25px 25px 25px;
  float: right;
  color: #fff;
  position: fixed;
  right: 20px;
  font-size: 12px;
  .ms-Link {
    color: white;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid lightgrey;
    padding: 5px;
    .gdcCloseIcon {
      padding-right: 5px;
      vertical-align: middle;
    }
}
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#c8c6c4
; 
  border-radius:10px;
  height:10%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.gdcPanel {
  .commands  {
  margin-top: 0px;
}
.ms-Panel-commands {
  margin-top: 0px;
}
}
.notworking{
  font-style: italic;
}
/* Panel End */

