@import '~office-ui-fabric-react/dist/sass/_References.scss';


/* react quill toolbar */
.ql-editor {
    min-height: 100px;
  }

  .ql-container.ql-snow {
    border: 1px solid grey !important;
  //  border-top : 1px !important;
  margin: 15px 0px;
    
  }

  .ql-toolbar.ql-snow {
    border: 1px solid black !important;
    //display: none;
}

/* react quill toolbar end */

  .gdcAddButton {
    //float: right;
 
      // Our button
      text-decoration: none;
      height: 32px;
  
      // Primary Button
      min-width: 80px;
      background-color: grey;
      border-color: $ms-color-themePrimary;
      color:white;
  
      // Basic Button
      outline: transparent;
      position: relative;
      font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: $ms-font-size-m;
      font-weight: $ms-font-weight-regular;
      border-width: 0;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      padding: 0 16px;
  
      .label {
        font-weight: $ms-font-weight-semibold;
        font-size: $ms-font-size-m;
        height: 32px;
        line-height: 32px;
        margin: 0 4px;
        vertical-align: top;
        display: inline-block;
      }
  }
.headerButton{
  margin-right:14px;
}
.headerButton::selection{
  background-color: darkslategray;
}
.questionTop{
  margin-top: 25px;
  margin-bottom:25px;
  font-weight: 500px;
}
.gdcOuterWidth12{
@include ms-sm12

} 
.textField{

 .ms-TextField-fieldGroup{
   height:56px !important;
   line-height: 20px;
   font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
}
.inline{
  display: inline-block;
  margin-right: 5%;
}
.gdcFieldWidth12{
  @include ms-sm12
}
.gdcFieldWidth6{
  @include ms-sm5
}
.gdcOuterWidth6{
  @include ms-sm5
  
  } 
  //styles={{ title: { height: '50px', lineHeight: '45px', fontweight: '500px', color: 'black' }, dropdown: { marginTop: '20px', height: '50px', class: "dd" }, caretDown: { fontWeight: '500px', marginTop: '10px' }, dropdownOptionText: { fontWeight: '500px' }, }}
.dropDown{
  .ms-Dropdown-container {
   // height: 50px;
     line-height: 45px;
      font-weight: 500;
       color: black;
        margin: 0px;
        #Dropdown6{
          color:blue;
      
      }
      }
      .ms-Dropdown-title {
        height:56px;
        font-size: 18px;
        line-height: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        vertical-align: middle;
      }    
  }
  .choiceField{

  .ms-ChoiceFieldGroup-flexContainer{
    display: "flex"
  }
  .ms-ChoiceField-wrapper{
    margin-right:25px;
    font-weight: 500;
   font-size: 14px;
  }
}
//.dropdown{ }, dropdown: { marginTop: '20px', height: '50px', class: "dd" }, caretDown: { fontWeight: '500px', marginTop: '10px' }, dropdownOptionText: { fontWeight: '500px' }, }
  
  
.abc{
min-height: 80px !important;
margin-top: 25px;
margin-bottom:25px;
 @include ms-Grid-col;
 @include ms-sm6;
 padding-left: 0px;
 width:41%;
 float: none !important;
}
   .gdcColumn6 {
    min-height: 80px !important;
   margin-top: 25px;
   margin-bottom:25px;
    @include ms-Grid-col;
    @include ms-sm6;
    padding-left: 0px;
    width:41%;
    float: none !important;
  }
  .gdcColumnBlock{
    display:inline-block;
    min-height:192px !important;
    width:100%;
  }
  .gdcColumn12 {
    min-height: 192px !important;
  }

  .gdcerror {
    color: rgb(164, 38, 44);
  }

  .gdcStar {
    color: rgb(164, 38, 44);
  }

  .gdcPaddingBottom15 {
    padding-bottom: 15px;
  }

  .gdcDisplayNone {
    display: none;
  }

  // .gdcBorder {
  //   /* border: 1px solid black;
  //   min-height: 400px; */
  // }


/* 
  #spCommandBar {
    display: none;
  } */


  .gdcMessage {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    padding: 5px;
  }

.gdcPanelHeader {
  padding: 200px 0px 10px 10px;
  background: #17787B;
  color: white;
}
.gdcPanelHeaderText {
  float: left;
}
.gdcPanelCloseButton {
  float: right;
  padding: 5px;
  color: white;
}

.gdcPanel {
  .commands  {
  margin-top: 0px;
}
.ms-Panel-commands {
  margin-top: 0px;
}
}

